<div class="fg-container">
  <!-- <div class="bg-video">
    <%= video_tag "death_star.mp4", autoplay: true, loop: loop, mute: true, class: "bg-video__content" %>
  </div> -->
  <%= simple_form_for(@starship) do |f| %>
    <div class="fg-form">
      <%= f.input :name, placeholder:'Starship Name'%>
      <%= f.input :cost, placeholder:'Cost' %>
      <%= f.input :max_speed, placeholder:'Max Speed' %>
      <%= f.input :crew , placeholder:'Crew'%>
      <%= f.input :crew , placeholder:'Crew'%>
     
        <%= f.button :submit, class: "cta-btn" %>
    </div>
  
  
  
  <% end %>

</div>