<div class="fg-container">

  <%= simple_form_for(@starship) do |f| %>
    <div class="fg-form">
      <%= f.input :name, placeholder:'Starship Name'%>
      <%= f.input :cost, placeholder:'Cost' %>
      <%= f.input :location, placeholder:'Max Speed' %>
      <%= f.input :description , placeholder:'Starfighter that balances speed with firepower'%>
      <%= f.input :photo, as: :file %>
      <%= f.button :submit, class: "cta-btn" %>
    </div>
  <% end %>

</div>