<div class="fg-container">

  <%= simple_form_for(@starship) do |f| %>
    <div class="fg-card">
      <%= f.input :name %>
      <%= f.input :model %>
      <%= f.input :manufacturer %>
      <%= f.input :cost %>
      <%= f.input :length %>
      <%= f.input :max_speed %>
      <%= f.input :crew %>
      <%= f.input :passengers %>
      <%= f.input :cargo_capacity %>
      <%= f.input :starship_class %>
      <%= f.input :location %>
      <%= f.input :photo, as: :file %>
      <div class="form-inputs">
        <%= f.button :submit, class: "custom-button" %>
      </div>
    </div>
  
  
  
  <% end %>

</div>