<div class="fg-container">

  <%= simple_form_for(@starship) do |f| %>
    <div class="fg-card">
      <%= f.input :name %>
      <%= f.input :cost %>
      <%= f.input :location %>
      <%= f.input :description %>
      <%= f.input :photo, as: :file %>
      <div class="form-inputs">
        <%= f.button :submit, class: "custom-button" %>
      </div>
    </div>
  
  
  
  <% end %>

</div>