<div class="container">
  <h1>STARSHIPS</h1>
  <div class="index-body">
    <div class="cards">
      <% @starships.each do |starship| %>
        <div class="card mb-3">
          <div class="card-image">
            <%= cl_image_tag starship.photo.key, height: 211, width: 300, crop: :fill %>
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= starship.name %></h5>
            <p class="card-text"><%= starship.description.truncate(50) %></p>
            <div class="link-and-price">
              <p class="card-link"><%= link_to "Step inside", starship_path(starship) %></p>
              <p class="card-price">£<%= starship.cost %></p>
            </div>
            <p class="card-text"><small class="text-muted">Last updated <%= time_ago_in_words(starship.updated_at) %></small></p>
          </div>
        </div>

      <% end %>
    </div>
    <div id="map"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>



