<div id="show_page">
  <div class="header_and_photos">
    <div class="header_and_location">
      <div class="header">
        <h3><%= @starship.name.upcase %></h3>
      </div>
      <div class="location">
        <p>4.69 <i class="fas fa-star"></i> | superhost <i class="fas fa-heart"></i> |  <%= @starship.location %> | <i class="fas fa-wifi"></i>   <i class="fas fa-space-shuttle"></i></p>
      </div>
    </div>
    <div class="photo_and_bookings">
      <div class="photo">
        <%= cl_image_tag @starship.photo.key, height: 340, width: 445, crop: :fill %>
      </div>
      <div class="bookings-form">
        <%= render "bookings_form" %>

      </div>
    </div>
    <hr class="hr">
    <div class=showpage-btn-container>
      <%= link_to 'Edit', edit_starship_path, class: 'edit-delete-btn' %>

        <%= link_to "Delete",starship_path(@starship), class: 'edit-delete-btn',
        method: :delete,
        data: { confirm: "Are you sure?" } %>
    </div>
    <div class="show_info">
      <p class="show_card_text"><strong><%= @starship.name.upcase %></strong></p>
      <p class="show_card_text">Price: £<%= @starship.cost %>/day</p>
      <p class="show_card_text">Description: <%= @starship.description %></p>
      <p class="show_card_text">Rating: <%= @starship.rating %></p>
      <br>
    </div>
    <div class="text">

      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, sit est delectus tempora optio pariatur dicta, autem placeat labore sunt adipisci ut. Sit rerum, assumenda natus voluptatibus libero, eum id. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos enim dolorum, quaerat velit corrupti, incidunt deserunt tempore modi iusto? Rerum placeat officiis aut odit provident, earum natus nobis deleniti reiciendis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Est ipsa ab, repellendus error fuga aperiam corporis, natus id beatae asperiores quas cumque similique ad impedit repellat eum, nostrum assumenda reiciendis!</p>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'bookings_new' %>

