<div id="show_page">
  <div class="header_and_photos">
    <div class="header_and_location">
      <div class="header">
        <h3><%= @starship.name %></h3>
      </div>
      <div class="location">
        <p>4.69 rating / superhost / location of starship - In a galaxy far away (Staines)
      </div>
    </div>
    <div class="photo_and_info d-flex">
      <div class="photo">
        <%= cl_image_tag @starship.photo.key, height: 260, width: 375, crop: :fill %>
      </div>
      <div class="show_info">
        <p class="show_card_text">Model: <%= @starship.model %></p>
        <p class="show_card_text">Price: <%= @starship.cost %>/day</p>
        <p class="show_card_text">Location: <%= @starship.location %></p>
        <p class="show_card_text">Description: <%= @starship.description %></p>
        <p class="show_card_text">Rating: <%= @starship.rating %></p>
        <%= link_to new_starship_booking_path(@starship), class: 'btn btn-primary' do %>
          Make a booking
          <% end %><br>
        <%= link_to 'Edit', edit_starship_path %>

          <%= link_to "Delete",starship_path(@starship),
          method: :delete,
          data: { confirm: "Are you sure?" } %>
      </div>
    </div>


  </div>
</div>


