
<div class="card" style="width: 18rem;">
  <%= cl_image_tag @starship.photo.key, height: 260, width: 375, crop: :fill %>
  <div class="card-body">
    <h3><%= @starship.name %></h3>
    <p class="card-text">Model: <%= @starship.model %></p>
    <p class="card-text">Manufacturer: <%= @starship.manufacturer %></p>
    <p class="card-text">Cost:<%= @starship.cost %></p>
    <p class="card-text">Max Speed: <%= @starship.max_speed %></p>
    <p class="card-text">Crew required<%= @starship.crew %></p>
    <p class="card-text">Passengers: <%= @starship.passengers %></p>
    <p class="card-text">Cargo Capacity: <%= @starship.cargo_capacity %></p>
    <p class="card-text">Class<%= @starship.starship_class %></p>
    <%= link_to 'Edit', edit_starship_path %>
    <!-- app/views/restaurants/show.html.erb -->
<%= link_to "Delete",
starship_path(@starship),
method: :delete,
data: { confirm: "Are you sure?" } %>
  </div>
</div>